@charset "UTF-8";

:root{
  --main-font: "pretendard", sans-serif;
  --sub-font: "GmarketSans", "pretendard", sans-serif;
  --main-color: #00684A;
  --sub-color01: #1A3A5E;
  --sub-color02: #FF7700;
  --black: #2C3B4A;
}

body{font-family: var(--main-font); font-size: 1.6rem; line-height: 1.5; color: #2C3B4A; min-height: 200vh; overflow-x: hidden; position: relative;}
.inner{max-width: 1460px; padding: 0 40px; margin: 0 auto;}

/* header */
#header{position: relative; background: #fff;}
#header .inner{display: flex; justify-content: space-between; align-items: center; max-width: 1760px; margin: 0 auto; padding: 0 40px;}
#header h1{padding-right: 2.60416vw; margin: 10px 0; z-index: 4;}
#header h1 img{width: 90px;}
#header nav{margin-right: auto;}
#header .gnb{display: flex;}
#header .gnb > li{position: relative; transition: all 0.5s; -webkit-text-stroke: 0.1px #2C3B4A;}
#header .gnb > li > a{display: inline-block; font-size: 2rem; text-transform: uppercase; font-family: var(--sub-font); padding: 30px 20px 20px; transition: all 0.5s; letter-spacing: -0.8px;}
#header .gnb > li.active > a{color: var(--main-color); -webkit-text-stroke: 0.3px var(--main-color);}
#header .gnb > li:hover > a{color: var(--main-color); -webkit-text-stroke: 0.25px var(--main-color);}
#header .gnb > li::after{content: ""; width: 0; height: 3px; background: var(--main-color); display: block; transition: all 0.5s; margin: 0 auto;}
#header .gnb > li:hover::after{content: ""; width: 100%; height: 3px; background: var(--main-color); display: block; z-index: auto;}
#header .gnb > li > .depth2{position: absolute; left: 0; width: 100%; z-index: 12; text-align: center; padding: 10px 0;}
#header .gnb > li > .depth2 > li > a{font-size: 2rem; padding: 15px 0; display: block; transition: all 0.5s; font-weight: 500; opacity: 0.8;}
#header .gnb > li > .depth2 > li:hover > a{color: var(--main-color); opacity: 1; font-weight: 600;}

#header .mgnb_wrap{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff; z-index: 3; display: none;}
#header .mgnb_wrap .line{width: 100%; height: 1px; background: #ddd; position: absolute; top: 70px;}
#header .mgnb_wrap .mgnb{text-transform: uppercase; font-family: var(--sub-font); font-size: 2.2rem; width: 100%; height: 100%; padding: 90px 40px 0; margin: 0 auto;}
#header .mgnb_wrap .mgnb > li > a{display: block; border-bottom: #eee 1px solid; padding: 20px 0;}
#header .mgnb_wrap .mgnb > li:nth-child(3) > a, #header .mgnb_wrap .mgnb > li:nth-child(4) > a{border-bottom: 0; pointer-events: none;}
#header .mgnb_wrap .mgnb .mdepth2{font-family: var(--main-font); background: #F1F1F1; padding: 20px; font-size: 2rem; font-weight: 500;}
#header .mgnb_wrap .mgnb .mdepth2 > li > a{display: block; padding: 5px 0; transition: all 0.5s; opacity: 0.7;}
#header .mgnb_wrap .mgnb .mdepth2 > li:hover > a{color: var(--main-color); opacity: 1;}

#header .util{display: flex; gap: 20px;}
#header .util .btn_cart{background: transparent url(../images/common/cart.png) no-repeat center/cover; cursor: pointer; font-size: 0; width: 36px; transition: all 0.5s;}
#header .util .btn_cart:hover{background: transparent url(../images/common/cart_hover.png) no-repeat center/cover;}
#header .util .btn_page{background: transparent url(../images/common/mypage.png) no-repeat center/cover; cursor: pointer; font-size: 0; width: 36px; height: 36px; transition: all 0.5s;}
#header .util .btn_page:hover{background: transparent url(../images/common/mypage_hover.png) no-repeat center/cover;}

#header .util .btn_sitemap{font-size: 0; background: transparent; cursor: pointer; width: 32px; height: 32px; position: relative; z-index: 4; display: none;}
#header .util .btn_sitemap::before{content: ""; width: 80%; height: 2px; background: var(--black); display: block; position: absolute; top: 9px; left: 50%; transform: translateX(-50%);}
#header .util .btn_sitemap::after{content: ""; width: 80%; height: 2px; background: var(--black); display: block; position: absolute; bottom: 9px; left: 50%; transform: translateX(-50%);}
#header .util .btn_sitemap:hover::before, #header .util .btn_sitemap:hover::after{background: var(--main-color); transition: all 0.5s;}

#header .util .btn_sitemap.active::before{transform: rotate(45deg) translateY(8px);}
#header .util .btn_sitemap.active::after{transform: rotate(-45deg) translateY(-8px);}

#header .depth2_bg{width: 100%; height: 200px; background: #F8F8F8; position: absolute; left: 0; top: 83px; border-top: 1px solid #E6E6E6; z-index: 10; display: none;}

@media (max-width: 1400px){
  #header h1 img{width: 85px;}
  #header .gnb > li > a{font-size: 1.8rem; padding: 35px 15px 20px;}
  #header .gnb > li > .depth2 > li > a{font-size: 1.8rem; padding: 10px 0;}
  #header .depth2_bg{height: 175px; top: 85px;}
}

@media (max-width: 1280px){
  #header .gnb > li > a{padding: 25px 15px 15px;}
  #header .depth2_bg{top: 70px;}
}

@media (max-width: 1200px){
  #header .gnb{display: none;}
  #header .util .btn_cart{width: 32px;}
  #header .util .btn_page{width: 32px; height: 32px;}
  #header .util .btn_sitemap{display: block;}
}

@media (max-width: 1024px){
  #header .mgnb_wrap .mgnb{font-size: 2rem;}
  #header .mgnb_wrap .mgnb .mdepth2{font-size: 1.8rem;}
}

@media (max-width: 750px){
  #header .inner{padding: 0 20px;}
}

@media (max-width: 500px){
  #header{padding: 0;}
  #header h1 img{width: 80px; margin: 0;}
  #header .mgnb_wrap .line{top: 70px;}
  #header .mgnb_wrap .mgnb{padding: 80px 20px 0; font-size: 1.8rem;}
  #header .mgnb_wrap .mgnb .mdepth2{font-size: 1.6rem;}
  #header .util{gap: 10px;}
  #header .util .btn_cart{width: 28px;}
  #header .util .btn_page{width: 28px; height: 28px;}
  #header .util .btn_sitemap{width: 28px; height: 28px;}
  #header .util .btn_sitemap.active::before{transform: rotate(45deg) translateY(6px);}
  #header .util .btn_sitemap.active::after{transform: rotate(-45deg) translateY(-6px);}
}

@media (max-width: 400px){
  #header h1{margin: 5px 0;}
  #header h1 img{width: 60px;}
  #header .mgnb_wrap .line{top: 60px;}
  #header .mgnb_wrap .mgnb{padding: 70px 20px 0;}
}


.depth2_black_bg{background: rgba(0,0,0,0.6); position: absolute; width: 100%; height: calc(100vh + 2500px); z-index: 5; display: none;}


/* footer */
#footer{background: var(--black); padding: 70px 40px 100px; text-align: center;}
#footer .footer_logo{border-bottom: 1px solid #6B7580; max-width: 1760px; margin: 0 auto; padding-bottom: 20px;}
#footer address{color: #fff; opacity: 0.6; display: flex; flex-direction: column; align-items: center; gap: 10px; margin-top: 20px; font-weight: 300;}
#footer address .info_line{display: flex; justify-content: center; flex-wrap: wrap; gap: 25px;}

@media (max-width: 1280px){
  #footer{padding: 50px 40px 80px;}
}

@media (max-width: 1023px){
  #footer .footer_logo img{width: 120px;}
}

@media (max-width: 950px){
  #footer address{font-size: 1.4rem;}
  #footer address .info_line{gap: 10px 20px;}
}

@media (max-width: 750px){
  #footer{padding: 50px 20px 80px;}
  #footer .footer_logo img{width: 100px;}
}

@media (max-width: 500px){
  #footer address{gap: 5px;}
}

@media (max-width: 400px){
  #footer{padding: 30px 20px 50px;}
  #footer .footer_logo img{width: 90px;}
}

.gotop{position: fixed; right: 1%; bottom: 40px; z-index: 1; display: none; transition: all 0.5s;}
.gotop:hover{transform: rotate(360deg);}

@media (max-width: 1400px){
  .gotop img{width: 80px; height: 80px;}
}

@media (max-width: 768px){
  .gotop{bottom: 20px;}
  .gotop img{width: 60px; height: 60px;}
}
